	p {
		
		font-size: 22pt;
		color: red;
	}
	
	
	#gruby_majewski
	{
	color: green;
	font-size: 17pt;
	font-weight: bold;
	}

	
	#dlawszystkich_majewski
	{
		color: yellow;
		font-size: 10pt;
		font-family: Arial;
	}